<h1><center>Examen Final</center></h1>
<h2><center>Pricing Analytics</center></h2>
<h3><center>Juan Manuel Aviña Muñoz</center></h3>

# Import libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import torch
#from fairseq.models.data2vec import Data2VecTextModel

# Load Data Set

In [9]:
file_path = "../DB/DMN Report 29.xlsx"

xls = pd.ExcelFile(file_path)
column_array=pd.read_excel(file_path, sheet_name=["2019"])["2019"].columns

dfResult = pd.DataFrame(columns=column_array)

In [10]:
# Iterate through each sheet in the Excel file
for sheet_name in xls.sheet_names:
     
    # Check if the sheet name is not in the specified list
    if sheet_name not in ['1996', '1997', '1998', '1999', '2000', '2001']:
        # Read the sheet into a DataFrame
        df = pd.read_excel(file_path, sheet_name=sheet_name)
        # print(sheet_name)
        # print(df.shape)
        # print(df.columns)
        
        # Ensure all required columns are present, add missing ones as None
        for column in column_array:
            if column not in df.columns:
                df[column] = None
                
        # Rename and split specific columns based on their names
        for column in df.columns:
            if column == "BUTTERMILK CENTRAL":
                df["SWEET CREAM BUTTERMILK CENTRAL"] = df[column]
                df.drop(columns=[column], inplace=True)
            elif column == "NONFAT CENTRAL/EAST":   
                df["NONFAT CENTRAL"] = df[column]
                df["NONFAT EAST"] = df[column]
                df.drop(columns=[column], inplace=True)
            elif column == "NONFAT CENTRAL  EAST":
                df["NONFAT CENTRAL EAST"] = df[column]
                df.drop(columns=[column], inplace=True)
            elif column == "CENTRAL EAST":
                df["NONFAT CENTRAL EAST"] = df[column]
                df.drop(columns=[column], inplace=True)
            elif column == "NDPSRNFDM":
                df["NDPSR NFDM"] = df[column]
                df.drop(columns=[column], inplace=True)
                
        # Add a 'Year' column based on the sheet name
        df['Year'] = sheet_name
        print("Rows to add:", df.shape[0], "from sheet", sheet_name, "of the Excel file")
        
        # Concatenate the current DataFrame to the result DataFrame
        dfResult = pd.concat([dfResult, df], ignore_index=True, sort=False)
 
# Display the first few rows of the result DataFrame
dfResult.head()

# Print the shape and sorted column names of the result DataFrame
print(dfResult.shape)
print(dfResult.columns.sort_values())

Rows to add: 36 from sheet 2023 of the Excel file
Rows to add: 52 from sheet 2022 of the Excel file
Rows to add: 53 from sheet 2021 of the Excel file
Rows to add: 53 from sheet 2020 of the Excel file
Rows to add: 70 from sheet 2019 of the Excel file
Rows to add: 70 from sheet 2018 of the Excel file
Rows to add: 69 from sheet 2017 of the Excel file
Rows to add: 69 from sheet 2016 of the Excel file
Rows to add: 68 from sheet 2015 of the Excel file
Rows to add: 57 from sheet 2014 of the Excel file
Rows to add: 50 from sheet 2013 of the Excel file
Rows to add: 60 from sheet 2012 of the Excel file
Rows to add: 122 from sheet 2010 - 2011 of the Excel file
Rows to add: 57 from sheet 2009 of the Excel file
Rows to add: 53 from sheet 2007 of the Excel file
Rows to add: 52 from sheet 2006 of the Excel file
Rows to add: 52 from sheet 2005 of the Excel file
Rows to add: 52 from sheet 2004 of the Excel file
Rows to add: 52 from sheet 2003 of the Excel file
Rows to add: 52 from sheet 2002 of the Excel file
(1199, 21)
Index(['34% WPC', 'AA BUTTER', 'CHEESE 40# BLOCKS', 'CHEESE BARREL',
       'CME Whey Avg', 'DELAC', 'LACTOSE', 'NASS Whey Avg', 'NDPSR NFDM',
       'NDPSR Whey Avg', 'NONFAT  WEST', 'NONFAT CENTRAL',
       'NONFAT CENTRAL EAST', 'NONFAT EAST', 'NONFAT WEST',
       'SWEET CREAM BUTTERMILK CENTRAL', 'WEEK', 'WHEY CENTRAL',
       'WHEY N' EAST', 'WHEY WEST', 'Year'],
      dtype='object')

In [11]:
 # Guardar el resultado en un archivo CSV
df.to_csv('../DB/DMN_Report_29_PROCESSED.csv', index=False)

In [12]:
print(f"Total instances: {df.shape[0]}")
print(f"Total features: {df.shape[1]}")
df.head(10)

Total instances: 52
Total features: 20

,WEEK,LACTOSE,DELAC,WHEY CENTRAL,WHEY WEST,WHEY N' EAST,NASS Whey Avg,34% WPC,NONFAT WEST,SWEET CREAM BUTTERMILK CENTRAL,AA BUTTER,CHEESE 40# BLOCKS,CHEESE BARREL,NDPSR Whey Avg,CME Whey Avg,NDPSR NFDM,NONFAT CENTRAL EAST,NONFAT CENTRAL,NONFAT EAST,Year
0,1/7 - 1/13,0.2225,0.4225,0.2975,0.25125,0.29750,0.2820,0.67750,0.91250,NaN,1.3500,1.2467,1.2550,None,None,None,None,0.960,0.960,2002
1,1/14 - 1/20,0.2225,0.4225,0.2875,0.24500,0.29125,0.2790,0.67125,0.91250,NaN,1.3617,1.3180,1.2950,None,None,None,None,0.950,0.950,2002
2,1/21 - 1/27,0.2225,0.4225,0.2725,0.23500,0.28625,0.2820,0.66750,0.91250,NaN,1.3667,1.3645,1.3235,None,None,None,None,0.950,0.950,2002
3,1/28 - 2/3,0.2225,0.4225,0.2500,0.23000,0.27125,0.2760,0.65875,0.91250,NaN,1.3175,1.3888,1.3500,None,None,None,None,0.950,0.950,2002
4,2/4 - 2/10,0.2225,0.4225,0.2425,0.23000,0.25125,0.2625,0.65750,0.91125,NaN,1.2360,1.2670,1.3083,None,None,None,None,0.950,0.950,2002
5,2/11 - 2/17,0.2225,0.4225,0.2300,0.22750,0.24375,0.2498,0.65750,0.91125,NaN,1.2167,1.2235,1.1900,None,None,None,None,0.945,0.945,2002
6,2/18 - 2/24,0.2225,0.4000,0.2150,0.22500,0.22750,0.2369,0.65750,0.91125,NaN,1.2508,1.2140,1.1875,None,None,None,None,0.945,0.945,2002
7,2/25 - 3/3,0.2225,0.4000,0.2050,0.22000,0.21000,0.2305,0.64625,0.91125,NaN,1.2413,1.2031,1.1819,None,None,None,None,0.945,0.945,2002
8,3/4 - 3/10,0.2225,0.4000,0.2025,0.21250,0.20500,0.2194,0.63875,0.90750,NaN,1.2517,1.1800,1.1500,None,None,None,None,0.930,0.930,2002
9,3/11 - 3/17,0.2225,0.4000,0.2025,0.21375,0.20375,0.2117,0.61875,0.90750,NaN,1.2625,1.2010,1.1680,None,None,None,None,0.930,0.930,2002

# Exploratory Data Analysis

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WEEK                            52 non-null     object
 1   LACTOSE                         52 non-null     float64
 2   DELAC                           52 non-null     float64
 3   WHEY CENTRAL                    52 non-null     float64
 4   WHEY WEST                       52 non-null     float64
 5   WHEY N' EAST                    52 non-null     float64
 6   NASS Whey Avg                   50 non-null     float64
 7   34% WPC                         52 non-null     float64
 8   NONFAT WEST                     52 non-null     float64
 9   SWEET CREAM BUTTERMILK CENTRAL  37 non-null     float64
 10  AA BUTTER                       52 non-null     float64
 11  CHEESE 40# BLOCKS               52 non-null     float64
 12  CHEESE BARREL                   52 non-null     float64
 13  NDPSR Whey Avg                  0 non-null      object
 14  CME Whey Avg                    0 non-null      object
 15  NDPSR NFDM                      0 non-null      object
 16  NONFAT CENTRAL EAST             0 non-null      object
 17  NONFAT CENTRAL                  52 non-null     float64
 18  NONFAT EAST                     52 non-null     float64
 19  Year                            52 non-null     object
dtypes: float64(14), object(6)
memory usage: 8.2+ KB

In [14]:
df.isnull().sum()

WEEK                               0
LACTOSE                            0
DELAC                              0
WHEY CENTRAL                       0
WHEY WEST                          0
WHEY N' EAST                       0
NASS Whey Avg                      2
34% WPC                            0
NONFAT WEST                        0
SWEET CREAM BUTTERMILK CENTRAL    15
AA BUTTER                          0
CHEESE 40# BLOCKS                  0
CHEESE BARREL                      0
NDPSR Whey Avg                    52
CME Whey Avg                      52
NDPSR NFDM                        52
NONFAT CENTRAL EAST               52
NONFAT CENTRAL                     0
NONFAT EAST                        0
Year                               0
dtype: int64

# Load a pre-trained Data2Vec model